
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Portfolio</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="#home">Homer</a> 
    <a href="https://www.imdb.com/title/tt0108052/">IMDB</a>
    <a href="https://www.netflix.com/title/60036359">Watch Online</a>
    <a href="https://www.amazon.com/Schindlers-List-Widescreen-Liam-Neeson/.../B00012QM8G">Buy</a>
  </div> 
  <br> <br/>
  <br> <br/>
  <a ID="home">
  <div class="contenth">
    <h1>Nimueh</h1>
  
  <h1 style="color:yellow;">Top five must watch movies</h1>
  <p> This is a small list of movies that I think everyone should watch.
   You can read the detailed reviews and access the download and purchase links from the menu.
   The movies included in this list are as follows. </p>
   <br> <br/>
   
   
   <div class="movie">
      <div class="movieheading">
        <h2  class="movieheading">Movies</h2>
      </div>
      <div class="movieinformation">
        <div id="movie" class="section">
          <img class="movieimage" src="media/movie.jpg"; width=200px; height=150 px;  >
          <br>Movies are Magic.
  
  It is the art-form which has the most impact on people . People don't remember paintings , poems , or jokes or even lyrics of a song for that matter as 
  much as they remember good movies .People love stories , people love fantasies , and they love it 
  because it gives us an experience that we might never have in real life , people also love stories 
  because they relate to some of them . Relive your past memories , feel what you felt again , 
  we can relate , empathize , sympathize and feel what some penned down characters are feeling on screen.
  Movies also entertain while making a point , they present information which we might not have had before , and that
  stunns us when we watch it happening on screen 
  
  It is the art-form which has the most impact on people . People don't remember paintings , poems , or jokes or even lyrics of a song for that matter as 
  much as they remember good movies .People love stories , people love fantasies , and they love it 
  because it gives us an experience that we might never have in real life , people also love stories 
  because they relate to some of them . Relive your past memories , feel what you felt again , 
  we can relate , empathize , sympathize and feel what some penned down characters are feeling on screen.
  Movies also entertain while making a point , they present information which we might not have had before , and that
  stunns us when we watch it happening on screen
  
  
  </br>
          
        </div>
      </div>
    </div>
    
   
   
   <a  href="#SL">Schindler's List</a> 
    <br> <br/>
  <a  href="#WallE">Wall-E</a> 
   <br> <br/>
   <a  href="#ST12">Short Term 12</a> 
   <br> <br/>
   <a  href="#Pans">Pan's Labyrinth</a> 
   <br> <br/>
  <a  href="#GG">Gone Girl</a> 
   <br> <br/>
  </div>
  <div id="content">
   <br> <br/>
    <br> <br/>
  <a ID="SL">
  <div class="movie">
      <div class="movieheading">
        <h2  class="movieheading">Schindler's List</h2>
      </div>
      
        
          <img class="poster" src="media/Red.jpg"/>
          <br>Schindler's List is a 1993 American epic historical period 
          drama film directed and co-produced by Steven Spielberg and written 
          by Steven Zaillian. It is based on the novel Schindler's Ark by Australian novelist Thomas 
          Keneally. The film follows Oskar Schindler, a Sudeten German businessman, who saved the lives of more 
          than a thousand mostly Polish-Jewish refugees from the Holocaust by employing them in his 
          factories during World War II. It stars Liam Neeson as Schindler, Ralph Fiennes as 
          SS officer Amon Göth, and Ben Kingsley as Schindler's Jewish accountant 
          Itzhak Stern. Schindler's List is a 1993 American epic historical period drama film 
          directed and co-produced by Steven Spielberg and written by Steven Zaillian.
          It is based on the novel Schindler's Ark by Australian novelist Thomas Keneally
          <a id="link"  href="List.html">Read More</a>
      
    </div>
     <br> <br/>
      <br> <br/>



</body>
</html>
